@media screen and (min-width: 800px) 
{
    #NotFoundImg
    {
        width: 75%; 
        height: 75%;
    }
}

@media screen and (max-width: 799px) 
{
    #NotFoundImg
    {
        width: 40%; 
        height: 40%;
    }
}